<template>
  <div>
      <h1>This is About page</h1>
      <hr>
      <h3>Page: {{ $route.query.q }} {{ $route.params.p }}</h3>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>