<template>
  <div>
      <h1>This is Contact page</h1>
      <hr>
      <h3>Contact Number: {{ phone }}</h3>

  </div>
</template>

<script>
export default {
  props: {
    phone: {
      type: Number,
      default: null,
    },
  }
}
</script>

<style>

</style>