<template>
  <div class="text-center">
    <h4>This is Customer page</h4>
    {{ $route.params.name }}
    <hr />
    <router-link v-for="index in 3" :key="index" :to="'/customer/' + index">
      Customer {{ index }} <br />
    </router-link>
  </div>
</template>

<script>
export default {
  /* ===========================================
                 Per-route Guards
     =========================================== */
  // Only called once after entering
  beforeRouteEnter(to, from) {
    console.log(from);
    console.log("BeforeRouteEnter (Customer id): " + to.params.id);
  },
  // Called when component has changed
  beforeRouteUpdate(to, from, next) {
    // console.log("BeforeRouteUpadte (Customer id)" + to.params.id);
    next();
  },
  // Called when the route that renders this component is about to
  beforeRouteLeave(to, from, next) {
    // next(false);
    next();
  },
};
</script>

<style>
</style>