<template>
  <div class="w-100 border border-5">
    <h2>
      <!-- This is footer {{ $route.params.id }}  -->
      This is footer {{ id }}
    </h2>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
};
</script>

<style>
</style>