<template>
  <div class="overflow-hidden">
    <div class="row">
      <div
        v-for="(text, index) in [
          'Declarative',
          'Nested Routes View',
          'Programmatic',
        ]"
        :key="index"
        class="border border-5 text-center fw-5"
        :class="text === 'Nested Routes View' ? 'col-6' : 'col-3'"
      >
        <h4>{{ text }}</h4>
      </div>
    </div>
    <div class="row h-75">
      <div class="col-3 p-0">
        <div class="list-group p-0">
          <router-link
            class="li"
            :to="{ name: 'Dashboard', params: { totalSales: '100K' } }"
            >Dashboard</router-link
          >

          <router-link class="li" to="/product/1"> Product </router-link>

          <!-- Path/Route params only can used for named route -->
          <router-link
            class="li"
            :to="{
              name: 'Order',
              params: { id: '1', name: 'yang', age: '19' },
            }"
            >Order</router-link
          >

          <router-link class="li" :to="{ path: '/customer' }"
            >Customer</router-link
          >
        </div>
      </div>

      <div class="col-6 border">
        <!-- Nested Views -->
        <router-view />
        <!-- Nesed Named View -->
        <router-view name="Summary" />
      </div>

      <div class="col-3 border p-0">
        <div class="list-group p-0">
          <a
            href="#"
            class="li"
            @click="
              $router.push({
                name: 'Dashboard',
                params: { totalSales: '200.00K' },
              })
            "
            >Dashboard</a
          >
          <a href="#" class="li" @click="redirect('/product')">Product</a>
          <a href="#" class="li" @click="redirect('/order')">Order</a>
          <a href="#" class="li" @click="redirect('/customer')">Customer</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useRouter, useRoute } from "vue-router";

export default {
  props: {
    id: {
      type: Number,
      default: 1,
    },
  },
  setup() {
    const router = useRouter();
    const route = useRoute();
    const redirect = (location) => {
      if (location === "/order")
        router.push({
          name: "Order",
          params: { id: "1", name: "Zheng Yang", age: "19" },
        });
      else router.push(location);
    };
    // console.log(router.hasRoute('Contact'));
    // router.removeRoute('Contact')
    // console.log(router.getRoutes());
    return {
      redirect,
    };
  },
};
</script>

<style>
</style>