<template>
  <div class="text-center">
    <h4>This is Order page</h4>
    <hr />
    <h6>Order ID: {{ $route.params.id }}</h6>
    <h6>Customer Name: {{ $route.params.name }}</h6>
    <h6>Customer Age: {{ $route.params.age }}</h6>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>