
<template>
  <div class="text-center">
    <h4>This is Product page</h4>
    <hr>
    <h6>Product ID (path): {{ $route.params.id }}</h6>
    <h6>Product ID (query): {{ $route.query.id }}</h6>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>