<template>
<div>
    <h4>Total Sales: {{ $route.params.totalSales }}</h4>
</div>
</template>

<script>
export default {
    props: {
        totalSales: {
            type: String,
            default: '',
        }
    }

}
</script>

<style>

</style>