<template>
  <div class="h-100">
    <div class="w-100 h-25 border border-5 position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        <h3 class="text-center">Welcome to Vue router</h3>
        <div class="text-center fs-5">
          <!-- Simple route -->
          <span><router-link to="/">Home</router-link></span>
          <span>
            <router-link :to="{ name: 'about' }">About </router-link>
          </span>
          <span>
            <router-link
              :to="{ name: 'Contact', params: { phone: '0123456789' } }"
            >
              Contact
            </router-link>
          </span>
          <span><router-link :to="{ path: '/login' }">Login</router-link></span>
        </div>
      </div>
    </div>

    <div>
      <h3 class="border border-5 m-0">Routes View</h3>
      <!-- Main View -->
      <router-view />
      <!-- Main Named View -->
      <router-view name="Footer" />
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.li {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  padding: 5px;
  color: #212529;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 5px solid #dee2e6;
  border-right: 5px solid #dee2e6;
}

.li:hover {
  width: 100%;
  background-color: #eff;
}

span {
  padding: 5px;
}
</style>
